.popup__fgp {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.popup__fgp .input {
  border: 1px solid #c3c3c3;
}

.popup__fgp-container {
  width: 100%;
  margin: 0 auto;
}
