.steps__text {
  position: relative;

  margin-bottom: 60px;

  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: #412816;
  text-align: center;
}

.steps__text_bold {
  margin: 73px 0 24px;
  font-weight: 600;
}

@media (max-width: 1221px) {
  .steps__text {
    font-size: 28px;
  }

  .steps__text_bold {
    margin: 60px 0 24px;
  }
}

@media (max-width: 1021px) {
  .steps__text {
    font-size: 24px;
  }

  .steps__text_bold {
    margin: 45px 0 24px;
  }
}

@media (max-width: 821px) {
  .steps__text {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

@media (max-width: 621px) {
  .steps__text {
    font-size: 16px;
  }
}
