.popup__overlay {
  cursor: pointer;

  position: absolute;
  z-index: -5;
  inset: 0;
  transform: translate3d(0, 0, 0);

  background: rgb(35 31 32 / 80%);
  backdrop-filter: blur(5px);
}
