.concept__author {
  margin-bottom: 3px;

  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  color: #412816;
}

@media (max-width: 1021px) {
  .concept__author {
    font-size: 16px;
  }
}

@media (max-width: 821px) {
  .concept__author {
    font-size: 14px;
  }
}
