.concept__container {
  display: flex;
  justify-content: space-between;
  padding: 150px 20px 83px;
}

@media (max-width: 1221px) {
  .concept__container {
    padding: 170px 20px 60px;
  }
}

@media (max-width: 1021px) {
  .concept__container {
    padding: 100px 20px 45px;
  }
}

@media (max-width: 821px) {
  .concept__container {
    padding: 70px 20px 30px;
  }
}

@media (max-width: 621px) {
  .concept__container {
    display: flex;
    flex-direction: column;
    padding: 100px 20px 40px;
  }
}
