.coffee__track {
  overflow: visible;
}

.coffee__el {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 369px;
  height: 497px;
}

.coffee__el-img {
  width: 80%;
  height: 80%;

  opacity: 0.4;
  object-fit: cover;
  object-position: center;

  transition: width 1s ease, height 1s ease, opacity 1s ease;
}

.coffee__el.is-prev .coffee__el-img,
.coffee__el.is-next .coffee__el-img,
.coffee__el.is-active:not(.splide__slide--clone) .coffee__el-img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.coffee__arrow {
  color: #fff;
  opacity: 1;
  background: #ee8a46;
  transition: opacity 0.5s ease;
}

.coffee__arrow svg {
  fill: #fff;
}

.coffee__arrow.splide__arrow--next {
  right: -1em;
}

.coffee__arrow.splide__arrow--prev {
  left: -1em;
}

@media (max-width: 1221px) {
  .coffee__arrow.splide__arrow--next {
    right: 267px;
  }

  .coffee__arrow.splide__arrow--prev {
    left: 267px;
  }
}

@media (max-width: 1021px) {
  .coffee__arrow.splide__arrow--next {
    right: 167px;
  }

  .coffee__arrow.splide__arrow--prev {
    left: 167px;
  }
}

@media (max-width: 821px) {
  .coffee__arrow.splide__arrow--next {
    right: 58px;
  }

  .coffee__arrow.splide__arrow--prev {
    left: 58px;
  }
}

@media (max-width: 621px) {
  .coffee__track {
    overflow: hidden;
  }

  .coffee__el {
    height: 400px;
  }

  .coffee__el-img {
    height: 100%;
  }

  .is-active .coffee__el-img {
    opacity: 1;
  }

  .coffee__arrow.splide__arrow--next {
    right: -14px;
  }

  .coffee__arrow.splide__arrow--prev {
    left: -14px;
  }
}
