.formats__options-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 569px;
  height: 335px;

  border: 1px solid rgb(238 138 70 / 20%);
  border-radius: 10px;
  box-shadow: 0 2.93px 18.02px #faebd9, 0 1.62px 3.51px rgb(250 235 217 / 3.5%);

  transition: box-shadow ease 1s;
}

.formats__options-input:checked + .formats__options-item {
  border: 3px solid #ee8a46;
}

.formats__options-input:not(:checked) + .formats__options-item:hover {
  box-shadow: 0 2.93px 18.02px #ffc782, 0 1.62px 3.51px rgb(250 235 217 / 3.5%);
}

@media (max-width: 1221px) {
  .formats__options-item {
    width: 455px;
    height: 268px;
  }
}

@media (max-width: 1021px) {
  .formats__options-item {
    width: 355px;
    height: 210px;
  }
}

@media (max-width: 821px) {
  .formats__options-item {
    width: 255px;
    height: 150px;
  }
}

@media (max-width: 621px) {
  .formats__options-item {
    width: 300px;
    height: 175px;
  }
}
