.formats__options {
  display: flex;
  gap: 31px;
  margin-bottom: 60px;
}

@media (max-width: 1021px) {
  .formats__options {
    gap: 10px;
    margin-bottom: 35px;
  }
}

@media (max-width: 621px) {
  .formats__options {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;
  }
}
