.popup__button-close {
  position: absolute;
  top: -12px;
  right: -20px;

  width: 16px;
  height: 16px;

  background-color: transparent;
  background-repeat: no-repeat;

  /* background-image: url(./../../../images/popup/btn.png); */
  background-size: 100%;
}

@media (max-width: 601px) {
  .popup__button-close {
    top: -25px;
    right: 0;
  }
}
