.bottom-block__footer-policy {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  color: #afa6a1 !important;
  text-align: center;
  text-decoration: underline !important;
}
