.popup__form-block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;

  width: 100%;
  padding: 30px 20px;
}

@media (max-width: 601px) {
  div.popup__form-block {
    max-width: 300px;
    padding: 0 !important;
  }
}
