.calculator__fgp-title {
  margin-bottom: 16px;

  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 123%;
  color: #101112;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

@media (max-width: 601px) {
  .calculator__fgp-title {
    margin-bottom: 5px;
    font-size: 17px;
  }
}
