.header__logo {
  max-width: 112px;
}

.header__logo-link {
  position: relative;
  z-index: 2;
}

@media (max-width: 821px) {
  .header__logo {
    max-width: 95px;
  }
}

@media (max-width: 621px) {
  .header__logo {
    max-width: 112px;
  }
}
