.section-top__description {
  display: block;

  max-width: 550px;
  margin-bottom: 30px;

  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  color: #fff;
}

.section-top__description-bold {
  font-weight: 700;
}

@media (max-width: 1021px) {
  .section-top__description {
    max-width: 380px;
    font-size: 20px;
  }
}

@media (max-width: 821px) {
  .section-top__description {
    margin-bottom: 30px;
  }
}

@media (max-width: 621px) {
  .section-top__description {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
