.section-top__fgp-block {
  max-width: 612px;
}

/* @media (max-width: 1021px) {
  .section-top__fgp-block {
    max-width: 600px;
    padding: 20px 15px 25px;
  }
}

@media (max-width: 601px) {
  .section-top__fgp-block {
    margin-bottom: 0;
    padding: 20px;
  }
} */
