.popup_open {
  z-index: 526262626;
  transform: translate3d(0, 0, 0);

  display: flex;

  opacity: 1;

  animation: animate-open-popup 0.3s ease-in-out;
}

@keyframes animate-open-popup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
