.popup.popup_close {
  transform: translate3d(0, 0, 0);

  display: flex;

  visibility: visible;
  opacity: 1;

  animation: hideAnimate2 0.3s ease-in;
}

@keyframes hideAnimate2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
